<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <button class="btn btn-primary">Fund this Post!</button>
  </p>
</div>
<div class="form">
  <input class='name' type="text">
  <input class='description' type="text">
  <button class="editbutton"></button>
</div>
<script src = "/js/edit.js"></script>